/*
* import other CSS
*/

@import url("reset.css");

/*
* variables
*/
.theme-dark {
  --color-background-primary: #1f2023;
  --color-background-secondary: #161518;
  --color-text-primary: #FFFFFF;
  --color-border-primary: #2c2d30;
}


/*
* element styles
*/
button {
  background-color: inherit;
  border: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

img {
  width: 100%;
}

header {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  padding: 1rem;
  height: 10vh;
  border-bottom: 2px solid var(--color-border-primary);
}

footer {
  background-color: var(--color-background-primary);
  height: 10vh;
  border-top: 2px solid var(--color-border-primary);
}



/*
* utilities
*/
.flex-container {
  display: flex;
}

.layout-container {
  max-width: 80rem;
  margin: 0 auto;
}

.image-container {
  width: 2rem;
}

.header-container {
  align-items: center;
  justify-content: space-between;
}



/*
* playlists
*/
.playlists {
  width: 20%;
  height: 80vh;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  border-right: 2px solid var(--color-border-primary);
}

.playlist {
  padding: 0.5rem;
  width: 100%;
  justify-content: space-between;
}



/*
* songs
*/
.songs {
  width: 60%; 
  height: 80vh;
  background-color: var(--color-background-secondary);
  color: var(--color-text-primary);
}

.song {
  padding: 0.5rem;
  width: 100%;
  justify-content: space-between;
}



/*
* artists
*/
.artists {
  width: 20%;
  height: 80vh;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  border-left: 2px solid var(--color-border-primary);
}

.artist {
  padding: 0.5rem;
  width: 100%;
  justify-content: space-between;
}



/*
* footer
*/
.footer-container {
  align-items: center;
  justify-content: space-between;
}

.controller-button-container {
  width: fit-content;
  margin: 0 auto;
}

.volume {
  color: var(--color-text-primary);
  width: 20%;
  align-items: center;
}

.controller {
  color: var(--color-text-primary);
  width: 60%;
  align-items: center;
}

.song-description {
  color: var(--color-text-primary);
  width: 20%;
  align-items: center;
}
