/*
* import other CSS
*/

@import url("reset.css");

/*
* variables
*/
.theme-dark {
  --color-background-primary: #1f2023;
  --color-background-secondary: #161518;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #09bb09;
  --color-text-tertiary: #09bb097e;
  --color-border-primary: #2c2d30;
}

.theme-light {
  --color-background-primary: #e3e9fd;
  --color-background-secondary: #f0eef5;
  --color-text-primary: #000000;
  --color-text-secondary: #09bb09;
  --color-border-primary: #2c2d30;
}


/*
* element styles
*/
body {
  background: var(--color-background-primary);
}

button {
  background-color: inherit;
  border: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

img {
  width: 100%;
}

header {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  padding: 1rem;
  height: 10vh;
  border-bottom: 2px solid var(--color-border-primary);
}

footer {
  background-color: var(--color-background-primary);
  height: 10vh;
  border-top: 2px solid var(--color-border-primary);
}



/*
* utilities
*/
.flex-container {
  display: flex;
}

.layout-container {
  max-width: 80rem;
  margin: 0 auto;
}

.image-container {
  width: 2rem;
}

.header-container {
  align-items: center;
  justify-content: space-between;
}

.active {
  color: var(--color-text-secondary);
}

.hidden {
  display: none;
}

.modal {
  background-color: var(--color-background-primary);
  position: absolute;
  top: 50vh;
  right: 42vw;
  color: var(--color-text-primary);
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: var(--color-background-secondary);
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-text-secondary);
}



/*
* playlists
*/
.playlists {
  width: 20%;
  height: 80vh;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  border-right: 2px solid var(--color-border-primary);
}

.current-playlist {
  border-left: 2px solid var(--color-text-secondary);
}

.playlists ul {
  height: 90%;
  overflow-y: scroll;
}

.playlist {
  padding: 0.5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.playlist:hover {
  border-left: 2px solid var(--color-text-tertiary);
}

.playlist a {
  text-decoration: none;
  color: inherit;
}

.playlist a:hover {
  cursor: pointer;
}

.album {
  color: var(--color-text-primary);
  max-height: 20%;
  border: 2px solid var(--color-border-primary);
  margin-bottom: 1rem;
}

.albums {
  position: relative;
  height: 77vh;
}

.new-album {
  position: absolute;
  bottom: 0;
}

.playlist-details-header {
  justify-content: space-between;
}



/*
* songs
*/
.songs {
  width: 60%; 
  height: 80vh;
  background-color: var(--color-background-secondary);
  color: var(--color-text-primary);
  overflow-y: scroll;
}

.songs ul {
  overflow-y: scroll;
}

.song {
  padding: 0.5rem;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.song .button-container {
  margin-right: 1rem;
}

.remove-song {
  position: absolute;
  right: 0;
  top: 0;
}



/*
* artists
*/
.artists {
  width: 20%;
  height: 80vh;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  border-left: 2px solid var(--color-border-primary);
}

.artists ul {
  height: 90%;
  overflow-y: scroll;
}

.artist {
  padding: 0.5rem;
  width: 100%;
  justify-content: space-between;
}

.artist a {
  text-decoration: none;
  color: var(--color-text-primary);
}

.new-artist {
  color: var(--color-text-primary);
}

.artist-details {
  width: 60%;
  height: 80vh;
  background-color: var(--color-background-secondary);
  color: var(--color-text-primary);
  overflow-y: scroll;
}

.album .image-container {
  width: 12rem;
}

.album-song {
  color: inherit;
  justify-content: space-between;
}

.album-songs {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: 40vh;
}

.new-songs {
  position: absolute;
  bottom: 0;
}




/*
* footer
*/
.footer-container {
  align-items: center;
  justify-content: space-between;
}

.controller-button-container {
  width: fit-content;
  margin: 0 auto;
}

.volume {
  color: var(--color-text-primary);
  width: 20%;
  align-items: center;
}

.controller {
  color: var(--color-text-primary);
  width: 60%;
  align-items: center;
}

.song-description {
  color: var(--color-text-primary);
  width: 20%;
  align-items: center;
}

.song-info {
  display: block;
}



/*
* login
*/

#authentication {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login, .register {
  width: 40%;
  height: fit-content;
  background: var(--color-background-secondary);
  color: var(--color-text-primary);
}

.login .image-container, .register .image-container {
  margin: 0 auto;
  width: 8rem;
}

.login form, .register form {
  padding: 1rem;
}

.login a, .register a {
  text-decoration: none;
  color: var(--color-text-secondary);
}