<header class="layout-container">
    {{> header}}
</header>
<main class="flex-container layout-container">
    
{{> playlists }}

{{> artists-details }}

{{> artists }}
</main>
<footer class="layout-container">
    {{> footer}}
</footer>