<div class="flex-container footer-container">
    <div class="song-description">
        <img src="" alt="">
        <h3>

        </h3>
        <p>

        </p>
    </div>
    <div class="controller">
        <div class="button-container flex-container">
<i class="fa-solid fa-backward"></i>
<i class="fa-solid fa-circle-play"></i>
<i class="fa-solid fa-forward"></i>
        </div>
    </div>
    <div class="volume flex-container">
        <i class="fa-solid fa-volume"></i>
        <input type="range" min="0" max="1" value="1" step="0.01" class="soundSlider" >
    </div>
</div>