    <div class="flex-container header-container">
        <h1 class="flex-container">
            <div class="image-container">
            <img src="/images/logo.png" alt="logo" class="logo">
            </div> Spotify app
        </h1>
        <form method="post" action="/logout">
            <button type="submit" class="logout">Logout</button>
        </form>
    </div>