<header class="layout-container">
    <div class="flex-container">
        <h1 class="flex-container">
            <img src="/images/logo.png" alt="logo" class="logo"> Just Do IT
        </h1>
        <form method="post" action="/logout">
            <button type="submit" class="logout">Logout</button>
        </form>
    </div>
</header>