<div class="songs">
    <h2>Playlist</h2>
<ul>
{{#each songs}}

    <li class="song flex-container" data-id="{{id}}">    
        <h2>
            {{ name }}
        </h2>
        <div class="button-container">
        <button class="play">
            <i class="fa-solid fa-play"></i>
        </button>
        </div>
    </li>

{{/each}}
</ul>
</div>