<ul class="songs">
{{#each songs}}

    <li class="song flex-container">    
        <h2>
            {{ name }}
        </h2>
        <button class="play">
            <i class="fa-solid fa-play"></i>
        </button>
    </li>

{{/each}}
</ul>